html, body
{
    margin: 0;
    background-image: url("/images/backgroundimg.jpg");
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    width: 100%;
    height:100vh;
    z-index: 0;
    
}


#Pagebackground
{
    backdrop-filter: blur(4px);
    margin: 0;
    z-index: 0;
    height: 100%;
    width: 100%;


}

#Pagebackground2
{
    /* backdrop-filter: blur(4px); */
    background-color: #1E2030;
    margin: 0;
    z-index: 0;
    height: 100%;
    width: 100%;


}

.card_properties
{ 
  background-color: #E5FFCE;
  
}



.Navbar
{
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/Navbar.png");
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #3F5537; */
    height: 99px;
    width: 968px;
    z-index: 1;
}

#img_logo
{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 450px;
}

#img_logo2
{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 450px;
  border-radius: 10%;
  border-color: #fff;
  border-style: solid;
  filter: drop-shadow(5px); 
}

.card
{
  background-color:#3F5537;
}

.nav
{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
}

.nav2
{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.bod
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    z-index: 1;
}

.bod3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    z-index: 1;
}


#services_container
{
  display: flex;
  row-gap: 5px;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

#Services_title
{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #E5FFCE;
}

.foot
{
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}


.navfont
{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: #E5FFCE;
}

.button_font
{
   font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #E5FFCE;
    filter: drop-shadow(1px 1px 1px #000);
}

.card-heading
{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #E5FFCE;
    filter: drop-shadow(1px 1px 1px #000);
}

.cover-heading
{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #E5FFCE;
}

.body_text
{
    display: flex;
    justify-content: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.body_text2
{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    color: #ffffff;
}


.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Agbalumo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #E5FFCE;
    z-index: 1;
}

.img_fb
{
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/");
    width: 51px;
    height: 51px;
    border-radius: 30%;
}
.img_insta
{
    background-image: url("/images/insta-50px.png");
    width: 51px;
    height: 51px;
    
    border-style: dashed;
    border-radius: 30%;
    
    padding:0 !important;
    margin:0 !important;

}

img
{
  border: none;
}
/* 
@media (max-width: 2560) 
{
  .bod
  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
    z-index: 1;
  }
} */

#footer_text
{
  margin: 0;
  padding: 5%;
  width: 100%;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
footer
{
    display: flex;
    justify-content: center;
    height:99px;
    width: 100%;
}


.mastfoot {
  color: rgba(255, 255, 255, .5);
}